/*******************/
/***** General *****/
/*******************/

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    border: 2.5rem solid #f6f6f6;
}

.site {
    min-height: calc(100vh - 5rem);
    display: flex;
    align-items: stretch;
    border: 1px solid #4ba7f2;
    box-shadow: 1px 1px 5px 1px;
}

.site-admin {
    min-height: calc(100vh - 5rem);
    display: flex;
    border: 1px solid #4ba7f2;
    box-shadow: 1px 1px 5px 1px;
}

.site-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h2 {
    font-size: 2rem;
}

.off {
    display: none;
}

.on {
    display: block;
}

.alert {
    padding: 1rem;
    box-shadow: 1px 1px 3px 1px black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem auto;
}

.info {
    background-color: rgba(127, 172, 244, 0.6);
}

.success {
    background-color: rgba(103, 229, 94, 0.6);
}

.error {
    background-color: rgba(242, 24, 24, 0.6);
}

.article-name {
    font-size: 12px;
    font-weight: normal;
}

/*******************/
/****** Menus ******/
/*******************/

.site-menu, .site-menu-admin {
    width: 15rem;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 3px 1px inset;
    margin: 1rem;
}

.site-menu-admin {
    align-self: flex-start;
}

.site-menu > div, .site-menu-admin > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.site-menu a, .site-menu-admin a {
    color: black;
    text-decoration: none;
    height: 5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    position: relative;
    flex-direction: column;
}

.site-menu-admin a {
    font-size: 1.25rem;
}

.site-menu a:hover, .site-menu-admin a:hover, .menu-active {
    background-color: lightsteelblue;
    font-weight: bold;
    box-shadow: -1px -1px 5px 1px grey;
}

.site-menu a::before, .site-menu-admin a::before {
    position: absolute;
    content: '<';
    transition: all ease-in-out .25s;
    opacity: 0;
    left: 50%;
}

.site-menu a::after, .site-menu-admin a::after {
    position: absolute;
    content: '>';
    transition: all ease-in-out .3s;
    opacity: 0;
    right: 50%;
}

.site-menu a:hover::before, .site-menu-admin a:hover::before {
    opacity: 1;
    transform: translateX(-6rem);
}

.site-menu a:hover::after, .site-menu-admin a:hover::after {
    opacity: 1;
    transform: translateX(6rem);
}

/******************/
/***** Header *****/
/******************/

.site-header {
    text-align: center;
}

.site-header__title {
    font-size: 3.5rem;
    margin: 0;
}

.site-header__description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.site-header__description a {
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

.site-header__description a::after {
    content: attr(data-tooltip);
    color: black;
    font-size: .8rem;
    background: #fff url('../../public/images/blog/link.png') no-repeat 1% 50% / auto 80%;
    padding: .25rem .25rem .25rem 1.7rem;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    transition: .25s ease;
    transform: translate(-100%, -50%);
    opacity: 0;
}

.site-header__description a:hover {
    color: coral;
}

.site-header__description a:hover::after {
    opacity: 1;
    transform: translate(20%, 0);
}

.site-header__progressBar p {
    margin-bottom: 5px;
    padding: 0;
}

.progressBar__container {
    height: 25px;
    width: 20rem;
    margin: auto;
    padding: 4px;
    background-color: #f6f6f6;
    border-radius: 16px;
    box-shadow: 1px 1px 1px 1px inset;
}

.progressBar__content {
    height: 100%;
    width: 85%;
    background: #4ba7f2;
    border-radius: 16px;
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    font-weight: bold;
    font-size: 0.95em;
}

/*******************/
/******* Main ******/
/*******************/

.site-main {
    flex: 1 1 auto;
    margin: auto;
}

.site-main-admin {
    flex: 1;
}

/******************/
/***** Footer *****/
/******************/

.site-footer {
    text-align: center;
    margin-top: 2rem;
}

/******************/
/****** Home ******/
/******************/

.home {
    text-align: center;
}

.last-projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-posts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-posts article div {
    text-align: justify;
}

.last-posts article div a {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.last-posts article {
    width: 350px;
    margin: 1rem 40px;
    box-shadow: 1px 1px 1px 1px;
    transition: transform 0.3s;
    padding: 1rem 1rem 0 1rem;
 }

.last-posts article h1 {
    margin: 0;
    font-size: 1.5rem;
}

.last-posts article:hover {
    transform: scale(1.1);
}

.contact-show {
    font-size: 1.5rem;
    cursor: pointer;
}

.contact-form input {
    margin: 0.5rem;
}

/******************/
/****** Blog ******/
/******************/

.blog {
    text-align: center;
}

.blog #searchbar {
    margin-top: 2.5rem;
    width: 100%;
    padding: 10px 1rem;
}

.blog-post {
    width: 40rem;
    text-align: left;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    border-bottom: 1px solid black;
}

.blog-post-title {
    font-size: 1.5rem;
    margin: 0;
}

.blog-post-info {
    display: flex;
    justify-content: space-between;
}

.blog-post-info a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*******************/
/*** Single Post ***/
/*******************/

.singlepost-post, .singlepost-comments {
    width: 60rem;
}

.singlepost-title {
    text-align: center;
    font-size: 2rem;
}

.singlepost-content {
    text-align: justify;
}

.singlepost-date {
    text-align: right;
}

.singlepost-comments {
    text-align: center;
}

.report-comment {
    text-decoration: none;
    color: black;
}

.singlepost-comments__add {
    margin-bottom: 2.5rem;
}

.comment-form input {
    margin: 0.5rem 0;
}

.show-comment-form {
    cursor: pointer;
}

.singlepost-comments__container {
    width: 30rem;
    text-align: left;
    margin: auto;
}

.comment {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid black;
}

.comment div {
    display: flex;
    justify-content: space-between;
}

.comment div p:nth-child(2) {
    font-style: italic;
}

.comment p {
    margin: 0;
}

/******************/
/*** Portfolio ****/
/******************/

.portfolio {
    text-align: center;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    box-shadow: 1px 1px 1px 1px;
    transition: transform 0.3s;
}

.portfolio-item:hover {
    transform: scale(1.1);
}

.portfolio-item img {
    width: 100%;
}

/*****************/
/*** Terminal ****/
/*****************/

#terminal {
    position: fixed;
    width: 550px;
    height: 700px;
    border: 1.5rem solid rgba(101, 103, 107, 0.6);
    border-top: 2.5rem solid rgba(101, 103, 107, 0.6);
    border-radius: 15px;
    color: white;
    background-color: rgba(43, 45, 47, 0.8);
    font-family: 'Play', sans-serif;
}

#terminal::before {
    content: "Terminal de navigation";
    position: absolute;
    color: white;
    font-weight: bold;
    top: -1.75rem;
    left: 0;
}

.terminal-close {
    position: absolute;
    color: white;
    top: -2rem;
    right: 0;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}

#terminal:hover::after {
    cursor: pointer;
}

.terminal-form {
    display: flex;
    flex-direction: column;
    height: calc(700px - 4rem);
    /* terminal height minus border */
}

.terminal-screen {
    flex: 1;
    margin: 1rem;
}

.terminal-screen p {
    margin: 5px;
}

.terminal-inputs {
    height: 2rem;
    display: flex;
    flex-direction: row;
    border-top: 0.75rem solid rgba(101, 103, 107, 0.6);
    justify-content: space-between;
    background-color: rgba(101, 103, 107, 0.6);
}

.terminal-input {
    flex: 1;
    background-color: rgba(43, 45, 47, 0.5);
    color: white;
    font-family: 'Play', sans-serif;
    height: inherit;
    border: none;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 0;
    font-size: 1.25rem;
    outline: none;
}

.terminal-submit {
    height: inherit;
    width: 15%;
    border-color: grey;
    margin: 0 0 0 5px;
    background-color: rgba(101, 103, 107, 0.6);
    color: white;
}

.terminal-submit:focus {
    outline: none;
}

.terminal-button {
    position: fixed;
    right: 3rem;
    top: 3rem;
}

.terminal-button::after {
    content: attr(data-tooltip);
    color: black;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.8) url('../images/blog/cogs.png') no-repeat 1% 50% / auto 80%;
    position: absolute;
    width: 12rem;
    padding: .5rem 0 .5rem 4rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    transform: translate(0, -105%);
    transition: all .25s ease-in-out;
    opacity: 0;
    text-align: center;
}

.terminal-button:hover::after {
    opacity: 1;
    transform: translate(-110%, -105%);
}

.terminal-button:hover {
    cursor: pointer;
}

/*******************/
/******* Admin *****/
/*******************/

.site-main-admin .list-container {
    display: flex;
}

.articles-list, .projects-list {
    flex: 1;
}

.articles-list h2, .projects-list h2 {
    text-align: center;
}

table {
    margin: auto;
    text-align: center;
    border-spacing: 0;
    width: 80%;
}

table thead tr th {
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

table tr a {
    text-decoration: none;
    color: black;
}

.fa-trash {
    color: red;
}

.fa-edit {
    color: #4ba7f2;
}

/*******************/
/***** Comments ****/
/*******************/


/**********************/
/******* New Post *****/
/**********************/


/*************************/
/******* New Project *****/
/*************************/



/*****************/
/***** Media *****/
/*****************/

@media screen and (max-width: 1100px) {
    body {
        border: 1rem solid #f6f6f6;
    }
    .site {
        min-height: calc(100vh - 2rem);
    }
    .progressBar__container {
        width: 14rem;
    }
    .site-header__description a::after {
        display: none;
    }
}