{% extends 'default.twig' %}
{% block title 'Blog' %}
{% block main %}
    <section class="blog">
        <h2>Liste des articles</h2>
        <p>Les articles sont classés des plus récents aux plus anciens</p>
        <input type="search" title="searchbar" name="searchbar" id="searchbar" placeholder="Rechercher...">
        <div class="blog-posts-container">
            {% for post in allPosts %}
                <article class="blog-post">
                    <h1 class="blog-post-title">{{ post.title }}</h1>
                    <div class="blog-post-info">
                        <span><small>Publié le {{ post.date_fr }}</small></span>
                        <a href="{{ 'article'|getUrl ~ '?id=' ~ post.id }}">-> Lire l'article</a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="/public/js/searchbar.js"></script>
{% endblock %}