{% extends 'default.twig' %}
{% block title 'Curriculum Vitae' %}
{% block main %}
    <h2>Curriculum Vitae</h2>
    <iframe src="../../public/download/cv.pdf" allowfullscreen height="800" width="1100"></iframe>
{% endblock %}