{% extends 'default.twig' %}
{% block title 'Curriculum Vitae' %}
{% block main %}
    <h2>Curriculum Vitae</h2>
    <section class="cv">
        <div>
            <div class="formation">
                <h3>FORMATION</h3>
                <ul>
                    <li><strong>2018/2019 (à venir) :</strong> DUT Informatique en Année Spéciale (IUT Lyon 1).</li>
                    <li>
                        <strong>2017/2018 :</strong> « Développeur intégrateur en réalisation d’applications web »<br>
                        <a href="https://openclassrooms.com/paths/developpeur-web-junior">Formation OpenClassrooms</a> (Titre RNCP de niveau 3).
                    </li>
                    <li><strong>2013/2017 :</strong> Licence LEA Anglais/Japonais (Université de Bordeaux Montaigne).</li>
                    <li><strong>2012/2013 :</strong> Baccalauréat Scientifique option Science de l'Ingénieur (Gujan-Mestras).</li>
                </ul>
            </div>
            <div class="competences">
                <h3>COMPETENCES</h3>
                <p><strong>Développement Web :</strong> HTML5 & CSS3 (Responsive + Accessibilité), JavaScript, PHP, MySQL</p>
                <ul>
                    <li>. Programmation Orientée Objet</li>
                    <li>. Architecture Model View Controller</li>
                    <li>. Générateur de templates Twig</li>
                    <li>. Connaissances avec CMS Wordpress</li>
                    <li>. IDE -&gt; PHPStorm</li>
                    <li>. GitHub</li>
                </ul>
                <p><strong>Langues :</strong> Anglais (très bon niveau), Japonais (niveau LEA).</p>
            </div>
        </div>
        <div>
            <div class="xp-pro">
                <h3>EXPERIENCE PROFESSIONNELLE</h3>
                <ul>
                    <li><strong>Avril 2017 :</strong> Stage fin d'études, Commerce Vins et spiritueux à l'international (St Martin, Caraïbes).</li>
                    <li><strong>Été 2016 :</strong> Employé Libre-Service, rayon Boulangerie, Intermarché (La Teste de Buch).</li>
                    <li><strong>Été 2015 :</strong> Employé Libre-Service à Discount Primeurs (Balizac).</li>
                    <li><strong>Été 2014 :</strong> Préparateur de commandes en Négoce de Vins, (Bordeaux).</li>
                </ul>
            </div>
            <div class="loisirs">
                <h3>LOISIRS</h3>
                <ul>
                    <li>. Développement Web</li>
                    <li>. Lecture (Manga, light novel, romans fantastiques/Sci-Fi)</li>
                    <li>. Langues et cultures étrangères (anglais, japonais)</li>
                    <li>. Jeux-vidéos</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}